@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;500;700&family=Martel:wght@200;400;700&family=Roboto:wght@400;500;700&display=swap');

//Menu height
$heightMenuMobile: 50px;
$heightMenuDesktop: 75px;

//Fonts
$KarmaFont: 'Karma', serif;
$MartelFont: 'Martel', serif;
$RobotoFont: 'Roboto', sans-serif;

//Colors

$ButtonHoverColor: rgb(233, 102, 20);

//size of button who change slide in mobile version

$ButtonSize: 40px;