@use '_variables' as var;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    width: 100vw;
    min-width: 360px;
    height: 100vh;
    scroll-behavior: smooth;
}

.navigation {
    position: fixed;
    width: 100vw;
    min-width: 360px;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;


    @media (min-width: 1024px) {
        background-color: transparent;
        color: white;

    }

    &--active {
        background-color: rgba(255, 255, 255, .95);
        color: black;
    }

    .navigation__bar {
        height: var.$heightMenuMobile;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 1024px) {
            height: var.$heightMenuDesktop;
            width: 50%;
            justify-content: flex-start;

        }

        .logo {
            margin: 0 5px;
            fill: black;

            @media (min-width: 1024px) {
                margin: 0 10px 0 15px;
                fill: white;

                &--active {
                    fill: black
                }
            }

        }

        .header-name {
            margin: 0 3px;
            display: flex;

            a {
                color: white;
                text-decoration: none;
            }

            .company-name {
                font-family: var.$MartelFont;
                font-weight: 200;

                @media (min-width: 1024px) {
                    border-right: 1.5px groove rgba(255, 255, 255, .7);
                    padding-right: 35px;
                    margin-right: 35px;

                    &--active {
                        color: #000;
                        border-right: 1.5px groove rgba(0, 0, 0, .7);
                    }
                }
            }

            .desktop-version {
                display: none;

                @media (min-width: 1024px) {
                    display: block;
                    font-family: var.$KarmaFont;
                    font-weight: 200;
                    size: 1.05rem;
                    align-self: center;
                    height: 100%;

                }
            }
        }
    }

    .menu {
        width: 38px;
        height: 38px;
        margin: 0 5px;
        overflow: hidden;
        text-align: center;

        @media (min-width: 1024px) {
            display: none;
        }
    }

    .fa-solid {
        font-size: 35px;
        text-align: center;
    }

    .fa-xmark {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .menu__items {
        position: absolute;
        background-color: white;
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;

        &--hide {
            display: none;
        }


        @media (min-width: 1024px) {
            display: block;
            width: 50%;
            height: 75px;
            background-color: transparent;

        }


        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            margin-top: 80px;

            @media (min-width: 1024px) {
                flex-direction: row;
                margin-top: 0;
                height: 75px;

                li:nth-last-child(1) {
                    width: 35%;
                    font-size: 5rem;

                    .fa-brands {
                        font-size: 2.2rem;
                    }
                }

                li:nth-last-child(2) {
                    width: 35%;

                    .fa-brands {
                        font-size: 2.2rem;
                    }
                }
            }

            li {

                display: block;
                width: 100%;
                margin: 0 auto;
                margin-left: 60px;
                height: 70px;
                line-height: 70px;
                font-family: var.$RobotoFont;

                @media (min-width: 561px) {
                    margin-left: 50px;
                    height: 90px;
                }

                @media (min-width: 1024px) {
                    height: 75px;
                    margin-left: 0;
                    width: 80%;

                }

                .menu__button {
                    width: 100%;
                    height: 100%;
                    font-size: 2.2rem;
                    text-decoration: none;
                    color: black;
                    display: block;


                    @media (min-width: 561px) {
                        font-size: 2.4rem;
                    }

                    @media (min-width: 751px) {
                        font-size: 3.5rem;
                    }

                    @media (min-width: 1024px) {
                        font-size: 1.3rem;
                        color: white;
                        text-align: center;
                        line-height: 75px;

                        &--active {
                            color: black;
                        }
                    }

                    &:hover {
                        color: var.$ButtonHoverColor;
                    }
                }

            }

        }


    }
}

//end navigation

.hide {
    display: none;
}

header {
    width: 100vw;
    height: 100vh;


    .header__bg {
        background-image: url(/images/header/header-560.jpg);
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;

        @media (min-width: 560px) {
            background-image: url(/images/header/header-750.jpg);
        }

        @media (min-width: 751px) {
            background-image: url(/images/header/header-820.jpg);
        }

        @media (min-width: 820px) {
            background-image: url(/images/header/header-1024.jpg);
        }

        @media (min-width: 1024px) {
            background-image: url(/images/header/header.JPG);
        }
    }


    .header__text {
        position: relative;
        color: white;
        height: 100%;

        .header__logo {
            display: none;

            @media (min-width: 751px) {
                display: block;
                width: 200px;
                position: absolute;
                top: 100px;
                left: 50%;
                transform: translateX(-50%);
                margin: 0 auto;
            }

            @media (min-width: 1024px) {
                top: 28%;
                animation: logoMove .8s;
            }
        }

        h2 {
            display: none;
            text-transform: uppercase;
            font-family: var.$KarmaFont;
            margin-top: 150px;
            font-size: 1.8rem;

            @media (min-width: 751px) {
                position: absolute;
                display: block;
                top: 160px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
            }

            @media (min-width: 1024px) {
                top: 35%;
                animation: textStalMove .8s .2s;

            }
        }

        h1 {
            position: absolute;
            font-family: var.$RobotoFont;
            text-align: center;
            font-weight: 400;
            font-size: 3.8rem;
            width: 80%;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);

            @media (min-width: 561px) {
                top: 50%
            }

            @media (min-width: 751px) {
                top: 60%;
            }

            @media (min-width: 1024px) {
                top: 65%;
                font-size: 6rem;
                animation: textMove .8s;
            }
        }
    }
}

//end header

.h1-header {
    display: flex;
    justify-content: center;
    font-family: var.$RobotoFont;
    font-size: 3rem;
    margin: 50px auto 60px;

    @media (min-width: 561px) {
        font-size: 3.5rem;
    }

    @media (min-width: 751px) {
        font-size: 4.5rem;
        margin: 120px auto 40px;

    }
}

.h1-header:after,
.h1-header:before {


    @media (min-width: 1024px) {
        flex: 1 1 55px;
        width: 30%;
        max-width: 400px;
        border-top: 1.5px solid #000;
        content: '';
        margin: 2.6rem 40px;
    }
}


#about {
    display: block;
    width: 100%;
    padding-bottom: 10px;
}

#contact {
    display: block;
    width: 100%;
    padding-bottom: 30px;
}

.about-us {

    &__content {
        min-height: 1200px;
        display: grid;
        grid-template-areas:
            'first-area'
            'second-area'
            'third-area'
            'four-area';
        grid-auto-flow: row;
        grid-auto-rows: minmax(100px, 300px);
        gap: 30px;
        width: 90%;
        margin: 0 auto;
        margin-top: 8px;

        @media (min-width: 1024px) {
            min-height: 850px;
            grid-template-columns: 50%, 50%;
            grid-template-rows: 50%, 50%;
            grid-template-areas:
                'first-area second-area'
                ' four-area third-area';
            grid-auto-rows: minmax(200px, 300px);
            margin-top: 40px;
            margin: 0 auto;
        }

        @media (min-width: 1300px) {
            grid-auto-rows: minmax(250px, 450px);
            min-height: 1000px;
        }

        .container-1 {
            grid-area: first-area;
            background-image: url(/images/about-us/IMG_1843-560.jpg);
            background-position: center;
            background-size: cover;

            @media (min-width: 560px) {
                background-image: url(/images/about-us/IMG_1843-750.jpg);
            }

            @media (min-width: 751px) {
                background-image: url(/images/about-us/IMG_1843-820.jpg);
            }

            @media (min-width: 820px) {
                background-image: url(/images/about-us/IMG_1843.JPG);
            }

            @media (min-width: 1024px) {
                background-image: url(/images/about-us/IMG_1843.JPG);

            }
        }

        .container-2 {
            grid-area: second-area;

            h2 {
                font-size: 1rem;
                font-family: var.$RobotoFont;
                text-align: justify;
                margin-bottom: 30px;

                @media (min-width: 561px) {
                    font-size: 1.3rem;
                }

                @media (min-width: 751px) {
                    font-size: 1.5rem;
                }

                @media (min-width: 1024px) {
                    font-size: 1.3rem;

                }

                @media (min-width: 1300px) {
                    font-size: 1.8rem;
                }
            }

            p {
                font-size: 0.9rem;
                text-align: left;

                @media (min-width: 561px) {
                    font-size: 1.2rem;
                }

                @media (min-width: 751px) {
                    font-size: 1.4rem;
                }

                @media (min-width: 1024px) {
                    font-size: 1.2rem;

                }

                @media (min-width: 1300px) {
                    font-size: 1.5rem;
                }
            }
        }

        .container-3 {
            grid-area: third-area;
            background-image: url(/images/about-us/IMG_1932-560.jpg);
            background-position: center;
            background-size: cover;

            @media (min-width: 560px) {
                background-image: url(/images/about-us/IMG_1932-750.jpg);
            }

            @media (min-width: 751px) {
                background-image: url(/images/about-us/IMG_1932-820.jpg);
            }

            @media (min-width: 820px) {
                background-image: url(/images/about-us/IMG_1932.JPG);
            }

            @media (min-width: 1024px) {
                background-image: url(/images/about-us/IMG_1932.JPG);
            }
        }

        .container-4 {
            grid-area: four-area;

            h2 {
                font-size: 1rem;
                font-family: var.$RobotoFont;
                text-align: justify;
                margin-bottom: 30px;

                @media (min-width: 561px) {
                    font-size: 1.3rem;
                }

                @media (min-width: 751px) {
                    font-size: 1.5rem;
                }

                @media (min-width: 1024px) {
                    font-size: 1.3rem;

                }

                @media (min-width: 1300px) {
                    font-size: 1.8rem;
                }
            }

            p {
                font-size: 0.9rem;
                text-align: left;

                @media (min-width: 561px) {
                    font-size: 1.2rem;
                }

                @media (min-width: 751px) {
                    font-size: 1.4rem;
                }

                @media (min-width: 1024px) {
                    font-size: 1.2rem;

                }

                @media (min-width: 1300px) {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

//end about us

.parallax {
    width: 100%;
    height: 450px;
    background-image: url(/images/parallax/IMG_1990-560.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 560px) {
        background-image: url(/images/parallax/IMG_1990-750.jpg);
    }

    @media (min-width: 751px) {
        background-image: url(/images/parallax/IMG_1990-820.jpg);
    }

    @media (min-width: 820px) {
        background-image: url(/images/parallax/IMG_1990-1024.jpg);
    }

    @media (min-width: 1024px) {
        background-image: url(/images/parallax/IMG_1990_jpg.JPG);
        height: 550px;
    }

}

//ond of parallax

#spawanie {
    background-image: url(/images/offer/IMG_1990-560.jpg);

    @media (min-width: 560px) {
        background-image: url(/images/offer/IMG_1990-750.jpg);
    }

    @media (min-width: 751px) {
        background-image: url(/images/offer/IMG_1990-820.jpg);
    }

    @media (min-width: 820px) {
        background-image: url(/images/offer/IMG_1990-1024.jpg);
    }

    @media (min-width: 1024px) {
        background-image: url(/images/offer/IMG_1990_jpg.JPG);
    }
}

#toczenie {
    background-image: url(/images/offer/IMG_4437-560.jpg);

    @media (min-width: 560px) {
        background-image: url(/images/offer/IMG_4437-750.jpg);
    }

    @media (min-width: 751px) {
        background-image: url(/images/offer/IMG_4437-820.jpg);
    }

    @media (min-width: 820px) {
        background-image: url(/images/offer/IMG_4437-1024.jpg);
    }

    @media (min-width: 1024px) {
        background-image: url(/images/offer/IMG_4437.JPG);
    }
}

#plazma {
    background-image: url(/images/offer/IMG_2023-560.jpg);

    @media (min-width: 560px) {
        background-image: url(/images/offer/IMG_2023-750.jpg);
    }

    @media (min-width: 751px) {
        background-image: url(/images/offer/IMG_2023-820.jpg);
    }

    @media (min-width: 820px) {
        background-image: url(/images/offer/IMG_2023-1024.jpg);
    }

    @media (min-width: 1024px) {
        background-image: url(/images/offer/IMG_2023_jpg.JPG);
    }
}

#walcowanie {
    background-image: url(/images/offer/IMG_4461-560.jpg);

    @media (min-width: 560px) {
        background-image: url(/images/offer/IMG_4461-750.jpg);
    }

    @media (min-width: 751px) {
        background-image: url(/images/offer/IMG_4461-820.jpg);
    }

    @media (min-width: 820px) {
        background-image: url(/images/offer/IMG_4461-1024.jpg);
    }

    @media (min-width: 1024px) {
        background-image: url(/images/offer/IMG_4461.JPG);
    }
}

#przecinanie {
    background-image: url(/images/offer/IMG_4412-560.jpg);

    @media (min-width: 560px) {
        background-image: url(/images/offer/IMG_4412-750.jpg);
    }

    @media (min-width: 751px) {
        background-image: url(/images/offer/IMG_4412-820.jpg);
    }

    @media (min-width: 820px) {
        background-image: url(/images/offer/IMG_4412-1024.jpg);
    }

    @media (min-width: 1024px) {
        background-image: url(/images/offer/IMG_4412.JPG);
    }
}

#wywijanie {
    background-image: url(/images/offer/IMG_4500-560.jpg);

    @media (min-width: 560px) {
        background-image: url(/images/offer/IMG_4500-750.jpg);
    }

    @media (min-width: 751px) {
        background-image: url(/images/offer/IMG_4500-820.jpg);
    }

    @media (min-width: 820px) {
        background-image: url(/images/offer/IMG_4500-1024.jpg);
    }

    @media (min-width: 1024px) {
        background-image: url(/images/offer/IMG_4500.JPG);
    }
}

#prasa {
    background-image: url(/images/offer/IMG_4616-560.jpg);

    @media (min-width: 560px) {
        background-image: url(/images/offer/IMG_4616-750.jpg);
    }

    @media (min-width: 751px) {
        background-image: url(/images/offer/IMG_4616-820.jpg);
    }

    @media (min-width: 820px) {
        background-image: url(/images/offer/IMG_4616-1024.jpg);
    }

    @media (min-width: 1024px) {
        background-image: url(/images/offer/IMG_4616.JPG);
    }
}

.offer {
    width: 100%;
    max-width: 3800px;
    position: relative;
    left: 0;
    margin: 0 auto;

    &__contener {
        position: relative;
        left: calc((100% - 100vw)/2);
        width: 100vw;

        .navigation-buttons {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 100;

            .right {
                position: absolute;
                top: 50%;
                right: 3%;
                width: var.$ButtonSize;
                height: var.$ButtonSize;
                border-radius: 50%;
                border: none;
                background-color: rgba(250, 255, 255, .1);
            }

            .left {
                position: absolute;
                top: 50%;
                left: 3%;
                width: var.$ButtonSize;
                height: var.$ButtonSize;
                border-radius: 50%;
                border: none;
                background-color: rgba(250, 255, 255, .1);
            }

            .left:hover,
            .right:hover {
                transform: scale(0.9);
            }

            .fa-solid {
                color: #fff;
                font-size: 2.5rem;
            }
        }

        .display-hide {
            display: none;
            animation: picture 1.3s;
        }

        .offer__picture {
            max-width: 2000px;
            height: 85vh;
            min-height: 330px;
            margin: 0 auto;
            background-color: #000;
            background-position: center;
            background-size: cover;
            animation: picture 1.3s;
            box-shadow: 0 1.5px 40px #afafaf;
            overflow: hidden;


            &__h1 {
                color: white;
                font-weight: 400;
                font-family: var(--fontRoboto);
                font-size: 2.5rem;
                position: relative;
                top: 72%;
                left: 5%;
                width: 80%;
                animation: picture__h3 1s;

                @media (min-width: 561px) {
                    font-size: 3.7rem;
                }

                @media (min-width: 751px) {
                    font-size: 4rem;
                    top: 63%;
                }
            }

            &__h3 {
                position: relative;
                color: white;
                font-weight: 200;
                font-family: var(--fontRoboto);
                font-size: 0.95rem;
                position: relative;
                top: 72%;
                left: 5%;
                width: 80%;
                overflow: hidden;
                animation: picture__h3 1s;

                @media (min-width: 561px) {
                    font-size: 1.3rem;
                }

                @media (min-width: 751px) {
                    font-size: 1.5rem;
                    top: 63%;
                }
            }
        }
    }

    &__min-picture {
        width: 70%;
        max-width: 1440px;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;

        @media (min-width: 751px) {
            width: 90%;
        }

        .min-picture {
            position: relative;
            background-color: #afafaf;
            margin: 5px;
            width: 15px;
            height: 15px;
            top: 0;
            border-radius: 50%;
            overflow: hidden;
            opacity: 0.8;
            transition: .6s;
            box-shadow: none;

            @media (min-width: 561px) {
                width: 20px;
                height: 20px;
            }

            @media (min-width: 751px) {
                height: 110px;
                width: 14%;
                border-radius: 18px;
                background-color: none;
            }

            &:hover {
                top: 0;
                border: 2px solid gray;
                transition: .1s;
                box-shadow: none;
                cursor: pointer;

                @media (min-width: 751px) {
                    box-shadow: 0 6px 12px rgba(0, 0, 0, .7);
                    top: -10px;
                    border: none;
                }
            }

            img {
                width: 0;
                height: 0;

                @media (min-width: 751px) {
                    width: 100%;
                    height: 100%;
                }
            }

            h1 {
                display: none;

                @media (min-width: 1024px) {
                    display: block;
                    position: absolute;
                    color: white;
                    font-weight: 400;
                    font-family: var.$RobotoFont;
                    font-size: 1.2rem;
                    top: 55%;
                    left: 8%;
                    width: 80%;
                }
            }
        }

        .is-selected {
            opacity: 1;
            top: 0;
            box-shadow: none;
            border: 1px solid rgb(90, 90, 90);

            @media (min-width: 751px) {
                box-shadow: 0 6px 12px rgba(0, 0, 0, .7);
                border: none;
                top: -10px;
            }
        }

    }
}

.partners {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 20px;

    &__header {
        margin: 70px auto 30px;
    }


    .wrapper {
        width: 310px;
        height: 50%;
        background-color: #fff;
        margin: 0 auto;
        overflow: hidden;


        @media (min-width: 360px) {
            width: 340px;
        }

        @media (min-width: 561px) {
            width: 525px;
        }

        @media (min-width: 751px) {
            width: 680px;

        }

        @media (min-width: 1024px) {
            width: 900px;

        }


        .partners__images {
            width: 25%;
            min-width: 120px;
            list-style-type: none;
            position: relative;
            top: 0;
            left: 0;
            margin: 0 25px;
            height: 200px;
            text-align: center;

            @media (min-width: 1024px) {
                min-width: 175px;

            }

            img {
                position: relative;
                width: 100%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

        }

        #par {
            position: relative;
            display: flex;
            margin: 0 auto;
            width: 100%;
            height: 200px;
        }
    }
}

.map {
    margin-top: 50px;
}

footer {
    position: relative;
    width: 100vw;
    background-color: black;
    bottom: 0;


    h2 {
        margin: 12px 0;
        font-size: 1.6rem;

        @media (min-width: 561px) {
            font-size: 3.5rem;
        }

        @media (min-width: 1024px) {
            font-size: 3rem;
        }
    }

    h3 {
        margin: 3px 0;
        font-size: 1.2rem;

        @media (min-width: 561px) {
            font-size: 1.6rem;
        }

        @media (min-width: 1024px) {
            font-size: 1.2rem;
        }
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: rgb(233, 102, 20);
    }

    .footer__text {
        text-align: center;
        color: white;
        font-size: 2.5rem;
        font-family: var(--fontRoboto);
        padding-top: 30px;

        @media (min-width: 561px) {
            font-size: 3.3rem;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        padding: 20px 43px 25px 43px;
        justify-content: center;
        color: white;
        background-color: black;
        font-family: var(--fontRoboto);

        @media (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-around;
            padding-bottom: 100px;
        }

        .adress {
            text-align: center;
            width: 80%;
            border: none;
            margin: 30px auto 0;

            @media (min-width: 1024px) {
                width: 30%;

            }
        }

        .contact {
            text-align: center;
            width: 80%;
            border: none;
            margin: 30px auto 0;

            @media (min-width: 1024px) {
                width: 30%;
                border-left: 1px groove white;
                border-right: 1px groove white;
            }

            .fa-solid {
                margin: 5px;
                font-size: 1.8rem;

                @media (min-width: 561px) {
                    font-size: 2.2rem;
                }

                span {
                    font-size: 1rem;
                    font-family: var.$RobotoFont;

                    @media (min-width: 561px) {
                        font-size: 1.4rem;
                    }

                }
            }
        }

        .social-media {
            text-align: center;
            width: 80%;
            border: none;
            margin: 30px auto 0;

            @media (min-width: 1024px) {
                width: 30%;
            }

            .fa-brands {
                margin: 5px;
                font-size: 2.5rem;

                span {
                    font-size: 1.3rem;
                    font-family: var.$RobotoFont;

                    @media (min-width: 561px) {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }

}

.cookie {
    position: fixed;
    width: 100vw;
    margin: 0 auto;
    background-color: black;
    opacity: 0.9;
    min-height: 50px;
    bottom: 0;
    left: 0;
    display: block;

    p {
        font-size: 15px;
        padding: 20px;
        margin: 0 auto;
        color: white;
        text-align: center;
    }

    &__btn {
        background-color: white;
        border: 1px solid black;
        border-radius: 3px;
        padding: 6px 10px;
        margin-bottom: 15px;
        position: relative;
        left: 50%;
        top: -5px;
        transform: translateX(-50%);
        opacity: 1;

        &:hover {
            color: rgb(233, 102, 20);
            background-color: #b4b4b4;
        }
    }
}

.cookie--hide {
    display: none;
}



//keyframes:
@keyframes logoMove {
    0% {
        top: -30%;
    }

    100% {
        top: 28%;
    }
}

@keyframes textStalMove {
    0% {
        top: -30%;
    }

    100% {
        top: 35%;
    }
}

@keyframes textMove {
    0% {
        top: 300%;
    }

    100% {
        top: 65%
    }
}

@keyframes picture__h3 {
    0% {
        top: 78%;
        opacity: 0.7;
    }

    100% {

        opacity: 1;
    }
}

@keyframes picture {
    0% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}